@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
